body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

button {
    background-color: #3882F6;
    color: white;
    border: 1px;
    border-radius: 10px;
    width: 75px;
    height: 25px;
}

header, .top, footer {
    background-color:#1F2937;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 120px;
    margin: 0;
}

#bdeoliln {
    width: 60px;
    height: auto;
    border-radius: 15px;
}

.links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.top {
    display: flex;
    justify-content: center;
    padding: 16px 120px;
    gap: 41px;
}

.topleft {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#tophead {
    font-size: 48px;
    font-weight: 900;
    color: white;
    margin: 0px;
}

#topsub {
    font-size: 18px;
    color: white;
    margin: 0px;
}

.heartbreaking {
    display: flex;
    align-items: center;
}

#heartbreaking {
    width: 340px;
    height: auto;
    border-radius: 25px;
}

.mid {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 32px;
    margin-top: 25px;
}

#midhead {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.midimage {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border: 3px solid #1F2937;
}

.midbody {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 200px;
}

.combo {
    max-width: 200px;
}

.midtext {
    padding-top: 8px;
    text-align: center;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 50px;
    margin: 50px 0px;
}

.quote_text {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 600px;
}

#quote_actual {
    font-size: 36px;
    color: #1f2937cc;
    font-style: italic;
    font-weight: 50;
}

#name {
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    color: #1F2937;
}

#gerald {
    border-radius: 25px;
    height: 300px;
    width: auto;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #3882F6;
    margin: 100px auto;
    padding: 40px;
    border-radius: 25px;
    width: 600px;
    height: 100px;
}

.emailtext {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 4px;
}

#emailhead {
    font-size: 24px;
    font-weight: 900;
}

#emailbutton {
    box-sizing: border-box;
    border: 1px solid white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 50px;
}
